In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
data = pd.read_csv('housing.csv')

In [34]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [36]:
#deleting null values
data.dropna(inplace=True)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [38]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
#dropping target variable 
X=data.drop(['median_house_value'],axis=1)
y=data['median_house_value']

In [56]:
#target variable dropped from dataset and splitted for testing
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.67,random_state=42)

In [57]:
#joining training datasets
trainingdata = X_train.join(y_train)

In [58]:
trainingdata.ocean_proximity.value_counts()

ocean_proximity
<1H OCEAN     6075
INLAND        4303
NEAR OCEAN    1752
NEAR BAY      1558
ISLAND           2
Name: count, dtype: int64

In [59]:
#one hot encoding 
pd.get_dummies(trainingdata.ocean_proximity).astype(int)

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
5652           0       0       0         0           1
12313          0       1       0         0           0
2340           0       1       0         0           0
12433          0       1       0         0           0
13507          0       1       0         0           0
...          ...     ...     ...       ...         ...
11397          1       0       0         0           0
12081          1       0       0         0           0
5447           1       0       0         0           0
866            0       0       0         1           0
15948          0       0       0         1           0

[13690 rows x 5 columns]

In [60]:
#changing their datatype and joining back to the training dataset
trainingdata=trainingdata.join(pd.get_dummies(trainingdata.ocean_proximity).astype(int)).drop(['ocean_proximity'],axis=1)

In [61]:
trainingdata

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
5652,-118.29,33.73,21.0,2492.0,711.0,1699.0,672.0,2.1382,242300.0,0,0,0,0,1
12313,-116.57,33.64,10.0,489.0,82.0,183.0,74.0,6.2702,345500.0,0,1,0,0,0
2340,-119.67,36.81,4.0,1262.0,216.0,622.0,199.0,4.9432,114400.0,0,1,0,0,0
12433,-116.01,33.51,24.0,2985.0,958.0,4042.0,905.0,1.7344,66400.0,0,1,0,0,0
13507,-117.33,34.13,30.0,2335.0,363.0,1214.0,311.0,2.2449,93200.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,273400.0,1,0,0,0,0
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,160800.0,1,0,0,0,0
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,335400.0,1,0,0,0,0
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,231200.0,0,0,0,1,0
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,251800.0,0,0,0,1,0

In [62]:
#importing liner regression model
from sklearn.linear_model import LinearRegression

In [63]:
#dropping target variable from training dataset
X_train,y_train=trainingdata.drop(['median_house_value'],axis=1),trainingdata['median_house_value']

In [64]:
#instantiate the model
mymodel=LinearRegression()

In [65]:
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
5652,-118.29,33.73,21.0,2492.0,711.0,1699.0,672.0,2.1382,0,0,0,0,1
12313,-116.57,33.64,10.0,489.0,82.0,183.0,74.0,6.2702,0,1,0,0,0
2340,-119.67,36.81,4.0,1262.0,216.0,622.0,199.0,4.9432,0,1,0,0,0
12433,-116.01,33.51,24.0,2985.0,958.0,4042.0,905.0,1.7344,0,1,0,0,0
13507,-117.33,34.13,30.0,2335.0,363.0,1214.0,311.0,2.2449,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,1,0,0,0,0
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,1,0,0,0,0
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,1,0,0,0,0
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,0,0,0,1,0
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,0,0,0,1,0

In [66]:
#fitting into a model
mymodel.fit(X_train,y_train)

LinearRegression()

In [67]:
#feeding  test data
testingdata = X_test.join(y_test)

In [68]:
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,NEAR OCEAN
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,INLAND
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,<1H OCEAN
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,NEAR BAY
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,INLAND
...,...,...,...,...,...,...,...,...,...
17373,-120.43,34.96,24.0,2739.0,414.0,1171.0,413.0,4.8155,<1H OCEAN
14698,-117.09,32.79,31.0,2019.0,417.0,872.0,386.0,3.1964,NEAR OCEAN
7826,-118.14,33.90,26.0,2145.0,471.0,1150.0,429.0,3.5972,<1H OCEAN
2581,-124.08,40.86,18.0,1287.0,484.0,805.0,502.0,1.1157,NEAR OCEAN
8704,-118.33,33.84,36.0,1364.0,251.0,668.0,245.0,5.3131,<1H OCEAN

In [69]:
testingdata=testingdata.join(pd.get_dummies(testingdata.ocean_proximity).astype(int)).drop(['ocean_proximity'],axis=1)

In [70]:
testingdata

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,245800.0,0,0,0,0,1
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,137900.0,0,1,0,0,0
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,218200.0,1,0,0,0,0
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,220800.0,0,0,0,1,0
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,170500.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17373,-120.43,34.96,24.0,2739.0,414.0,1171.0,413.0,4.8155,162900.0,1,0,0,0,0
14698,-117.09,32.79,31.0,2019.0,417.0,872.0,386.0,3.1964,177700.0,0,0,0,0,1
7826,-118.14,33.90,26.0,2145.0,471.0,1150.0,429.0,3.5972,225800.0,1,0,0,0,0
2581,-124.08,40.86,18.0,1287.0,484.0,805.0,502.0,1.1157,150000.0,0,0,0,0,1
8704,-118.33,33.84,36.0,1364.0,251.0,668.0,245.0,5.3131,314100.0,1,0,0,0,0

In [71]:
X_test,y_test=testingdata.drop(['median_house_value'],axis=1),testingdata['median_house_value']

In [72]:
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,0,0,0,0,1
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,0,1,0,0,0
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,1,0,0,0,0
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,0,0,0,1,0
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17373,-120.43,34.96,24.0,2739.0,414.0,1171.0,413.0,4.8155,1,0,0,0,0
14698,-117.09,32.79,31.0,2019.0,417.0,872.0,386.0,3.1964,0,0,0,0,1
7826,-118.14,33.90,26.0,2145.0,471.0,1150.0,429.0,3.5972,1,0,0,0,0
2581,-124.08,40.86,18.0,1287.0,484.0,805.0,502.0,1.1157,0,0,0,0,1
8704,-118.33,33.84,36.0,1364.0,251.0,668.0,245.0,5.3131,1,0,0,0,0

In [73]:
from sklearn.metrics import mean_squared_error as mse

y_pred = mymodel.predict(X_test)

In [74]:
mse_test = mse(y_test, y_pred)

In [75]:
import math

math.sqrt(mse_test)

67488.28571490811

In [76]:
mymodel.score(X_test,y_test)

0.656493555669287

In [77]:
#trying with random forest model
from sklearn.ensemble import RandomForestRegressor

In [78]:
model=RandomForestRegressor()

In [79]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [71]:
model.score(X_test,y_test)

0.8127131849202428

In [72]:
pred=model.predict(X_test)

In [73]:
pred

array([500001.  , 457464.47,  83849.  , ...,  78176.  , 148557.  ,
        59335.  ])

In [74]:
from sklearn.metrics import mean_squared_error as mse

In [75]:
mse(pred,y_test)

2425190921.2978578

In [76]:
#error in pred
math.sqrt(mse(pred,y_test))

49246.227482903276