In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
data = pd.read_csv('housing.csv')

In [40]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [42]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [43]:
#deleting null values
data.dropna(inplace=True)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [45]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
#dropping target variable 
X=data.drop(['median_house_value'],axis=1)
y=data['median_house_value']

In [48]:
#target variable dropped from dataset and splitted for testing
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.67)

In [49]:
#joining training datasets
trainingdata = X_train.join(y_train)

In [50]:
trainingdata.ocean_proximity.value_counts()

ocean_proximity
<1H OCEAN     6135
INLAND        4289
NEAR OCEAN    1770
NEAR BAY      1493
ISLAND           3
Name: count, dtype: int64

In [51]:
#one hot encoding 
pd.get_dummies(trainingdata.ocean_proximity).astype(int)

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
1104           0       1       0         0           0
11201          1       0       0         0           0
17348          1       0       0         0           0
10727          1       0       0         0           0
379            0       0       0         1           0
...          ...     ...     ...       ...         ...
10526          1       0       0         0           0
11257          1       0       0         0           0
231            0       0       0         1           0
16456          0       1       0         0           0
805            0       0       0         1           0

[13690 rows x 5 columns]

In [52]:
#changing their datatype and joining back to the training dataset
trainingdata=trainingdata.join(pd.get_dummies(trainingdata.ocean_proximity).astype(int)).drop(['ocean_proximity'],axis=1)

In [53]:
trainingdata

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
1104,-121.59,39.86,14.0,1527.0,269.0,665.0,261.0,2.8657,119600.0,0,1,0,0,0
11201,-117.92,33.83,17.0,382.0,86.0,272.0,81.0,1.4250,212500.0,1,0,0,0,0
17348,-120.42,34.91,4.0,6986.0,1217.0,2801.0,1212.0,3.2135,212700.0,1,0,0,0,0
10727,-117.81,33.64,4.0,1741.0,225.0,811.0,233.0,12.3411,500001.0,1,0,0,0,0
379,-122.17,37.75,37.0,1379.0,287.0,835.0,259.0,2.4962,91800.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10526,-117.70,33.57,4.0,3283.0,911.0,1512.0,782.0,3.3125,138500.0,1,0,0,0,0
11257,-117.98,33.81,35.0,897.0,156.0,479.0,161.0,5.1520,215600.0,1,0,0,0,0
231,-122.20,37.80,46.0,2041.0,405.0,1059.0,399.0,3.8487,203300.0,0,0,0,1,0
16456,-121.27,38.12,44.0,2356.0,482.0,1043.0,443.0,2.4949,108000.0,0,1,0,0,0
805,-122.06,37.64,33.0,1160.0,252.0,729.0,220.0,3.8259,146100.0,0,0,0,1,0

In [54]:
#importing liner regression model
from sklearn.linear_model import LinearRegression

In [55]:
#dropping target variable from training dataset
X_train,y_train=trainingdata.drop(['median_house_value'],axis=1),trainingdata['median_house_value']

In [56]:
X_means = X_train.mean(axis = 0)
X_stds = X_train.std(axis = 0)

In [57]:
X_train_scaled = (X_train - X_means) / (X_stds)

In [58]:
#instantiate the model
mymodel=LinearRegression()

In [59]:
X_train_scaled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
1104,-1.013758,1.992349,-1.154877,-0.508023,-0.633591,-0.676868,-0.620663,-0.534303,-0.901102,1.480448,-0.014804,-0.349855,-0.38533
11201,0.820309,-0.838745,-0.916659,-1.026227,-1.060568,-1.026022,-1.085449,-1.286217,1.109671,-0.675422,-0.014804,-0.349855,-0.38533
17348,-0.429055,-0.331683,-1.948935,1.962609,1.578286,1.220824,1.834956,-0.352783,1.109671,-0.675422,-0.014804,-0.349855,-0.38533
10727,0.875281,-0.927951,-1.948935,-0.411171,-0.736252,-0.547157,-0.692963,4.410990,1.109671,-0.675422,-0.014804,-0.349855,-0.38533
379,-1.303610,1.001701,0.671458,-0.575005,-0.591594,-0.525835,-0.625827,-0.727149,-0.901102,-0.675422,-0.014804,2.858122,-0.38533
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10526,0.930253,-0.960816,-1.948935,0.286707,0.864325,0.075634,0.724634,-0.301114,1.109671,-0.675422,-0.014804,-0.349855,-0.38533
11257,0.790324,-0.848135,0.512646,-0.793148,-0.897244,-0.842117,-0.878877,0.658937,1.109671,-0.675422,-0.014804,-0.349855,-0.38533
231,-1.318602,1.025176,1.386111,-0.275397,-0.316276,-0.326826,-0.264327,-0.021267,-0.901102,-0.675422,-0.014804,2.858122,-0.38533
16456,-0.853839,1.175417,1.227299,-0.132835,-0.136619,-0.341041,-0.150713,-0.727827,-0.901102,1.480448,-0.014804,-0.349855,-0.38533
805,-1.248638,0.950056,0.353835,-0.674120,-0.673256,-0.620008,-0.726531,-0.033167,-0.901102,-0.675422,-0.014804,2.858122,-0.38533

In [60]:
#fitting into a model
mymodel.fit(X_train_scaled,y_train)

LinearRegression()

In [65]:
#feeding  test data
testingdata = X_test.join(y_test)

In [66]:
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
13363,-117.64,33.99,29.0,1005.0,152.0,513.0,149.0,2.4375,INLAND
17009,-122.29,37.53,35.0,2043.0,511.0,1089.0,504.0,3.0278,NEAR OCEAN
12494,-121.47,38.57,50.0,3233.0,968.0,1223.0,837.0,1.2041,INLAND
8963,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,<1H OCEAN
18298,-122.12,37.40,32.0,3514.0,473.0,1583.0,480.0,10.3894,NEAR BAY
...,...,...,...,...,...,...,...,...,...
7794,-118.08,33.89,37.0,1152.0,259.0,981.0,225.0,3.2857,<1H OCEAN
8400,-118.37,33.95,52.0,836.0,175.0,747.0,166.0,4.1250,<1H OCEAN
9871,-121.82,36.61,24.0,2437.0,438.0,1430.0,444.0,3.8015,<1H OCEAN
20228,-119.29,34.28,38.0,2387.0,748.0,1537.0,741.0,2.3147,NEAR OCEAN
4555,-118.24,34.06,19.0,2870.0,1021.0,3325.0,978.0,1.7395,<1H OCEAN

In [67]:
testingdata=testingdata.join(pd.get_dummies(testingdata.ocean_proximity).astype(int)).drop(['ocean_proximity'],axis=1)

In [68]:
testingdata

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13363,-117.64,33.99,29.0,1005.0,152.0,513.0,149.0,2.4375,181300.0,0,1,0,0,0
17009,-122.29,37.53,35.0,2043.0,511.0,1089.0,504.0,3.0278,310600.0,0,0,0,0,1
12494,-121.47,38.57,50.0,3233.0,968.0,1223.0,837.0,1.2041,168100.0,0,1,0,0,0
8963,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,369200.0,1,0,0,0,0
18298,-122.12,37.40,32.0,3514.0,473.0,1583.0,480.0,10.3894,500001.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7794,-118.08,33.89,37.0,1152.0,259.0,981.0,225.0,3.2857,153600.0,1,0,0,0,0
8400,-118.37,33.95,52.0,836.0,175.0,747.0,166.0,4.1250,174000.0,1,0,0,0,0
9871,-121.82,36.61,24.0,2437.0,438.0,1430.0,444.0,3.8015,169100.0,1,0,0,0,0
20228,-119.29,34.28,38.0,2387.0,748.0,1537.0,741.0,2.3147,192500.0,0,0,0,0,1
4555,-118.24,34.06,19.0,2870.0,1021.0,3325.0,978.0,1.7395,162500.0,1,0,0,0,0

In [69]:
X_test,y_test=testingdata.drop(['median_house_value'],axis=1),testingdata['median_house_value']

In [70]:
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13363,-117.64,33.99,29.0,1005.0,152.0,513.0,149.0,2.4375,0,1,0,0,0
17009,-122.29,37.53,35.0,2043.0,511.0,1089.0,504.0,3.0278,0,0,0,0,1
12494,-121.47,38.57,50.0,3233.0,968.0,1223.0,837.0,1.2041,0,1,0,0,0
8963,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,1,0,0,0,0
18298,-122.12,37.40,32.0,3514.0,473.0,1583.0,480.0,10.3894,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7794,-118.08,33.89,37.0,1152.0,259.0,981.0,225.0,3.2857,1,0,0,0,0
8400,-118.37,33.95,52.0,836.0,175.0,747.0,166.0,4.1250,1,0,0,0,0
9871,-121.82,36.61,24.0,2437.0,438.0,1430.0,444.0,3.8015,1,0,0,0,0
20228,-119.29,34.28,38.0,2387.0,748.0,1537.0,741.0,2.3147,0,0,0,0,1
4555,-118.24,34.06,19.0,2870.0,1021.0,3325.0,978.0,1.7395,1,0,0,0,0

In [72]:
X_test = (X_test - X_means) / (X_stds)

In [73]:
from sklearn.metrics import mean_squared_error as mse

y_pred = mymodel.predict(X_test)

In [74]:
mse_test = mse(y_test, y_pred)

In [77]:
import math

math.sqrt(mse_test)

68334.103849644

In [78]:
mymodel.score(X_test,y_test)

0.6446101510235303

In [79]:
#trying with random forest model
from sklearn.ensemble import RandomForestRegressor

In [80]:
model=RandomForestRegressor()

In [82]:
model.fit(X_train_scaled,y_train)

RandomForestRegressor()

In [83]:
model.score(X_test,y_test)

0.8288084452658561

In [84]:
pred=model.predict(X_test)

In [85]:
pred

array([136163.  , 277247.02, 106985.  , ..., 191090.  , 211060.  ,
       167357.  ])

In [86]:
from sklearn.metrics import mean_squared_error as mse

In [87]:
mse(pred,y_test)

2249325589.154231

In [88]:
#error in pred
math.sqrt(mse(pred,y_test))

47427.055455238115

In [77]:
trainingdata

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
11148,-117.97,33.85,45.0,818.0,147.0,546.0,152.0,5.1057,170700.0,1,0,0,0,0
8199,-118.14,33.79,23.0,2573.0,688.0,1478.0,604.0,3.4833,209400.0,0,0,0,0,1
15643,-122.42,37.80,52.0,3067.0,870.0,2122.0,850.0,2.5603,287500.0,0,0,0,1,0
2858,-118.94,35.39,27.0,3074.0,452.0,1223.0,452.0,5.4592,139100.0,0,1,0,0,0
12175,-117.23,33.77,5.0,2108.0,496.0,1666.0,461.0,2.0000,83000.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3202,-119.64,36.36,13.0,2360.0,340.0,1055.0,312.0,5.2134,97400.0,0,1,0,0,0
1571,-122.01,37.83,30.0,3917.0,549.0,1330.0,544.0,6.5617,386600.0,0,0,0,1,0
10719,-117.82,33.66,15.0,2460.0,447.0,1049.0,398.0,6.4967,387500.0,1,0,0,0,0
15072,-116.98,32.80,28.0,5721.0,1029.0,2672.0,1054.0,3.9630,164400.0,1,0,0,0,0
12798,-121.45,38.62,38.0,2419.0,605.0,1696.0,503.0,1.4861,63100.0,0,1,0,0,0